$theme-colors: (
  "primary": rgb(55, 105, 204),
);
$nav-link-color: rgb(55, 105, 204);
$nav-pills-link-active-bg: rgb(55, 105, 204);
$font-weight-bold: 800;
@import "../node_modules/bootstrap/scss/bootstrap";
